[submodule "Ellie/vendor/spdlog"]
	path = Ellie/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ellie/vendor/GLFW"]
	path = Ellie/vendor/GLFW
	url = https://github.com/sckapa/glfw
[submodule "Ellie/vendor/imgui"]
	path = Ellie/vendor/imgui
	url = https://github.com/sckapa/imgui
[submodule "Ellie/vendor/glm"]
	path = Ellie/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Ellie/vendor/yaml-cpp"]
	path = Ellie/vendor/yaml-cpp
	url = https://github.com/sckapa/yaml-cpp
[submodule "Ellie/vendor/ImGuizmo"]
	path = Ellie/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
